* {
	border: none;
	border-radius: 10;
    font-family: "JetbrainsMono Nerd Font" ;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}
#network {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#network:hover { 
    color: #1c1c1c;
    background: #e0331d;
}
#language{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#language:hover{
    color: #1c1c1c; 
    background: #e0331d; 
}
#wireplumber {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    padding: 8px;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#wireplumber:hover{ 
    background: #e0331d;
    color: #1c1c1c;
}
#wireplumber.muted {
    color: #e0331d;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#wireplumber.muted:hover {
    background: #e0331d;
    color: #1c1c1c; 
}
#clock {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#clock:hover {
    color: #1c1c1c; 
    background: #e0331d;
}
#disk{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#disk:hover{
    color: #1c1c1c; 
    background: #e0331d;
}
#privacy{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#idle_inhibitor{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#idle_inhibitor.activated{
    color: #89b4fa;
    border-color: #89b4fa;
}
#idle_inhibitor.activated:hover{
    background: #89b4fa;
    color: #1c1c1c;
    border-color: #89b4fa;
}
#idle_inhibitor.deactivated{
    color: #e0331d
}
#idle_inhibitor.deactivated:hover{
    color: #1c1c1c; 
    background: #e0331d;
}
#memory {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#memory:hover { 
    color: #1c1c1c; 
    background: #e0331d;

}
#cpu {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    margin-bottom: 0px;
    padding-right: 10px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#cpu:hover {
    color: #1c1c1c; 
    background: #e0331d;

}
#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    transition: none;
    color: #e0331d;
    background: #1c1c1c;
    transition: 0.3s;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
}
#custom-launcher:hover { 
    background: #e0331d;
    color: #1c1c1c;
}
#network.disconnected {
    color: #e0331d;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
}
#network.disconnected:hover {
    background: #e0331d;
    color: #1c1c1c; 
}
#custom-power {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 8px;
    margin-right: 17px;
    padding-left: 10px;
    padding-right: 5px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#custom-power:hover {

    background: #e0331d;
    color: #1c1c1c;
    border-color: #e0331d;

}
#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: #1c1c1c; 
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    color: #e0331d;
    transition: 0.3s;
}
#workspaces button {
    color: #e0331d;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
}
#tray{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    transition: none;
    background: #1c1c1c; 
    color: #e0331d;
    border-bottom: 3px;
    border-style: solid;
    border-color: #e0331d;
    transition: 0.3s;
}
